body {
    background-image: url("assets/forest.webp");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    cursor: none;
}


/* flashlight effect */
body::after {
    content: "";
    position: fixed;
    inset: 0;

    background: radial-gradient(circle 300px at var(--x) var(--y),
            transparent 0%,
            rgba(0, 0, 0, .5) 100%);

    pointer-events: none;
}

.flashlight {
    position: fixed;
    bottom: -20vh;
    z-index: 20;
    left: calc(50% - 30vh);
    transform: translateX(-100%);
}

.video-container {
    width: 300px;
    height: 300px;
    overflow: hidden;
}

.zombie {
    width: 30%;
    position: relative;
    top: 40%;
    left: 5%;
}

.arrow {
    z-index: 20;
    right: 30vh;
    position: relative;
    bottom: -60vh;
    z-index: 20;
}